$primary-color: #c110e5;
$font:"Poppins", sans-serif;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: $font;
}

p{
    // background-color: #f99;
    font-size: 3em;
    // display: flex;
    // align-items: center;
    // justify-content: center;
}

section {


    // display: flex;
    // justify-content: center;
    // align-items: center;

    // display: flex;
    // child will get this:     margin: auto;

    display: grid;
    // justify-content: center;
    // align-content: center;
    // place-content: center;

    place-items: center;

    background-color: #eee;
    height: 100%;
    // display: grid;
    // grid-template-columns: repeat(3, 200px);
    // grid-template-rows: repeat(3, 200px);

    // justify-content: center;
    // align-content: center;
    // place-content: center;

    gap: 10px;
    // justify-content & align-content

    // center start and end space-between space-around and space-evenly
    // justify-content: space-evenly;
    // align-content: space-evenly;

    // grid-template-columns: repeat(3, 1fr);
    // grid-template-rows: repeat(3, 1fr);

    // justify-items: center;
    // align-items: center;

    // place-items: center;

    // p:nth-child(5) {
    //     background-color: #f11;
    //     align-self: end;
    //     justify-self: end;
    // }

    // p:last-of-type {
    //     background-color: #00f;
    //     align-self: start;
    //     justify-self: end;
    // }

}


