$primary-color: #c110e5;
$font:"Poppins", sans-serif;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: $font;
}

p {
    font-size: 2em;
    background-color: $primary-color;
}

// article {
//     height: 100%;
//     display: grid;
//     grid-auto-flow: column;
// }

section {
    height: 100%;
    background-color: #000;
    // display grid
    display: grid;
    // grid-auto-flow: column;
    gap: 10px;
    // grid-template-columns
    // grid-template-rows
    //  default auto flow is to create a new row
    // grid-template-columns: 300px 300px 300px;
    // grid-template-columns: repeat(4, 300px);
    // grid-template-rows: 200px 150px 400px;
    // here we are creating a grid of 3x3
    // grid-template-columns: 200px 300px 200px;
    // grid-template-rows: 200px 300px 400px;

    //  we have a unit in grid called fr  = fraction
    grid-template-columns: 1fr; // this is like 100% 1 / 1
    grid-template-columns: 1fr 1fr; // i have 2 parts here
    grid-template-columns: 1fr 1fr 1fr; // 3 columns  1/3 1/3 1/3
    grid-template-columns: 2fr 1fr 3fr;
    grid-template-columns: 100fr 200fr;
}
